nav {
  // background: $darkBlue;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  margin-bottom: 0;
}

.nav__logo {
  color: #fff;
  font-size: 3rem;
}

.nav__links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding-left: 2rem;
}